In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("F:\Poulta\iris.csv")

In [7]:
df.head()

         Name  sepal_length  sepal_width  petal_length  petal_width species
0   Ali Abbas           5.1          3.5           1.4          0.2  setosa
1   M Hussain           4.9          3.0           1.4          0.2  setosa
2    M Hassan           4.7          3.2           1.3          0.2  setosa
3   Ali Akbar           4.6          3.1           1.5          0.2  setosa
4  Ali Asghar           5.0          3.6           1.4          0.2  setosa

In [8]:
df.iloc[100:150]

,Name,sepal_length,sepal_width,petal_length,petal_width,species
100,Haider Ali,6.3,3.3,6.0,2.5,virginica
101,Mujtaba Ali,5.8,2.7,5.1,1.9,virginica
102,Ali Hassan,7.1,3.0,5.9,2.1,virginica
103,Ali Abbas,6.3,2.9,5.6,1.8,virginica
104,M Hussain,6.5,3.0,5.8,2.2,virginica
105,M Hassan,7.6,3.0,6.6,2.1,virginica
106,Ali Akbar,4.9,2.5,4.5,1.7,virginica
107,Ali Asghar,7.3,2.9,6.3,1.8,virginica
108,Qasim Ali,6.7,2.5,5.8,1.8,virginica
109,Hussain Ali,7.2,3.6,6.1,2.5,virginica
110,Haider Ali,6.5,3.2,5.1,2.0,virginica
111,Mujtaba Ali,6.4,2.7,5.3,1.9,virginica
112,Ali Hassan,6.8,3.0,5.5,2.1,virginica
113,Ali Hassan,5.7,2.5,5.0,2.0,virginica
114,Ali Abbas,5.8,2.8,5.1,2.4,virginica
115,M Hussain,6.4,3.2,5.3,2.3,virginica
116,M Hassan,6.5,3.0,5.5,1.8,virginica
117,Ali Akbar,7.7,3.8,6.7,2.2,virginica
118,Ali Asghar,7.7,2.6,6.9,2.3,virginica
119,Qasim Ali,6.0,2.2,5.0,1.5,virginica
120,Hussain Ali,6.9,3.2,5.7,2.3,virginica
121,Haider Ali,5.6,2.8,4.9,2.0,virginica
122,Mujtaba Ali,7.7,2.8,6.7,2.0,virginica
123,Ali Hassan,6.3,2.7,4.9,1.8,virginica
124,Haider Ali,6.7,3.3,5.7,2.1,virginica
125,Mujtaba Ali,7.2,3.2,6.0,1.8,virginica
126,Ali Hassan,6.2,2.8,4.8,1.8,virginica
127,Ali Abbas,6.1,3.0,4.9,1.8,virginica
128,M Hussain,6.4,2.8,5.6,2.1,virginica
129,M Hassan,7.2,3.0,5.8,1.6,virginica
130,Ali Akbar,7.4,2.8,6.1,1.9,virginica
131,Ali Asghar,7.9,3.8,6.4,2.0,virginica
132,Qasim Ali,6.4,2.8,5.6,2.2,virginica
133,Hussain Ali,6.3,2.8,5.1,1.5,virginica
134,Haider Ali,6.1,2.6,5.6,1.4,virginica
135,Mujtaba Ali,7.7,3.0,6.1,2.3,virginica
136,Ali Hassan,6.3,3.4,5.6,2.4,virginica
137,Ali Hassan,6.4,3.1,5.5,1.8,virginica
138,Ali Abbas,6.0,3.0,4.8,1.8,virginica
139,M Hussain,6.9,3.1,5.4,2.1,virginica
140,M Hassan,6.7,3.1,5.6,2.4,virginica
141,Ali Akbar,6.9,3.1,5.1,2.3,virginica
142,Ali Asghar,5.8,2.7,5.1,1.9,virginica
143,Qasim Ali,6.8,3.2,5.9,2.3,virginica
144,Hussain Ali,6.7,3.3,5.7,2.5,virginica
145,Haider Ali,6.7,3.0,5.2,2.3,virginica
146,Mujtaba Ali,6.3,2.5,5.0,1.9,virginica
147,Ali Hassan,6.5,3.0,5.2,2.0,virginica
148,Mujtaba Ali,6.2,3.4,5.4,2.3,virginica
149,Ali Hassan,5.9,3.0,5.1,1.8,virginica

In [9]:
a = df["species"] == 'versicolor'
df[a]

,Name,sepal_length,sepal_width,petal_length,petal_width,species
50,M Hussain,7.0,3.2,4.7,1.4,versicolor
51,M Hassan,6.4,3.2,4.5,1.5,versicolor
52,Ali Akbar,6.9,3.1,4.9,1.5,versicolor
53,Ali Asghar,5.5,2.3,4.0,1.3,versicolor
54,Qasim Ali,6.5,2.8,4.6,1.5,versicolor
55,Hussain Ali,5.7,2.8,4.5,1.3,versicolor
56,Haider Ali,6.3,3.3,4.7,1.6,versicolor
57,Mujtaba Ali,4.9,2.4,3.3,1.0,versicolor
58,Ali Hassan,6.6,2.9,4.6,1.3,versicolor
59,Ali Abbas,5.2,2.7,3.9,1.4,versicolor
60,M Hussain,5.0,2.0,3.5,1.0,versicolor
61,M Hassan,5.9,3.0,4.2,1.5,versicolor
62,Ali Akbar,6.0,2.2,4.0,1.0,versicolor
63,Ali Asghar,6.1,2.9,4.7,1.4,versicolor
64,Qasim Ali,5.6,2.9,3.6,1.3,versicolor
65,Hussain Ali,6.7,3.1,4.4,1.4,versicolor
66,Haider Ali,5.6,3.0,4.5,1.5,versicolor
67,Mujtaba Ali,5.8,2.7,4.1,1.0,versicolor
68,Ali Hassan,6.2,2.2,4.5,1.5,versicolor
69,Ali Abbas,5.6,2.5,3.9,1.1,versicolor
70,M Hussain,5.9,3.2,4.8,1.8,versicolor
71,M Hassan,6.1,2.8,4.0,1.3,versicolor
72,Ali Akbar,6.3,2.5,4.9,1.5,versicolor
73,Ali Asghar,6.1,2.8,4.7,1.2,versicolor
74,Qasim Ali,6.4,2.9,4.3,1.3,versicolor
75,Hussain Ali,6.6,3.0,4.4,1.4,versicolor
76,Haider Ali,6.8,2.8,4.8,1.4,versicolor
77,Mujtaba Ali,6.7,3.0,5.0,1.7,versicolor
78,Ali Hassan,6.0,2.9,4.5,1.5,versicolor
79,Ali Abbas,5.7,2.6,3.5,1.0,versicolor
80,M Hussain,5.5,2.4,3.8,1.1,versicolor
81,M Hassan,5.5,2.4,3.7,1.0,versicolor
82,Ali Akbar,5.8,2.7,3.9,1.2,versicolor
83,Ali Asghar,6.0,2.7,5.1,1.6,versicolor
84,Qasim Ali,5.4,3.0,4.5,1.5,versicolor
85,Hussain Ali,6.0,3.4,4.5,1.6,versicolor
86,Haider Ali,6.7,3.1,4.7,1.5,versicolor
87,Mujtaba Ali,6.3,2.3,4.4,1.3,versicolor
88,Ali Hassan,5.6,3.0,4.1,1.3,versicolor
89,Ali Hassan,5.5,2.5,4.0,1.3,versicolor
90,Ali Abbas,5.5,2.6,4.4,1.2,versicolor
91,M Hussain,6.1,3.0,4.6,1.4,versicolor
92,M Hassan,5.8,2.6,4.0,1.2,versicolor
93,Ali Akbar,5.0,2.3,3.3,1.0,versicolor
94,Ali Asghar,5.6,2.7,4.2,1.3,versicolor
95,Qasim Ali,5.7,3.0,4.2,1.2,versicolor
96,Hussain Ali,5.7,2.9,4.2,1.3,versicolor
97,Haider Ali,6.2,2.9,4.3,1.3,versicolor
98,Mujtaba Ali,5.1,2.5,3.0,1.1,versicolor
99,Ali Hassan,5.7,2.8,4.1,1.3,versicolor

In [10]:
petal_width = (df["petal_width"] > 1) & (df["species"] == 'versicolor')
df[petal_width]

,Name,sepal_length,sepal_width,petal_length,petal_width,species
50,M Hussain,7.0,3.2,4.7,1.4,versicolor
51,M Hassan,6.4,3.2,4.5,1.5,versicolor
52,Ali Akbar,6.9,3.1,4.9,1.5,versicolor
53,Ali Asghar,5.5,2.3,4.0,1.3,versicolor
54,Qasim Ali,6.5,2.8,4.6,1.5,versicolor
55,Hussain Ali,5.7,2.8,4.5,1.3,versicolor
56,Haider Ali,6.3,3.3,4.7,1.6,versicolor
58,Ali Hassan,6.6,2.9,4.6,1.3,versicolor
59,Ali Abbas,5.2,2.7,3.9,1.4,versicolor
61,M Hassan,5.9,3.0,4.2,1.5,versicolor
63,Ali Asghar,6.1,2.9,4.7,1.4,versicolor
64,Qasim Ali,5.6,2.9,3.6,1.3,versicolor
65,Hussain Ali,6.7,3.1,4.4,1.4,versicolor
66,Haider Ali,5.6,3.0,4.5,1.5,versicolor
68,Ali Hassan,6.2,2.2,4.5,1.5,versicolor
69,Ali Abbas,5.6,2.5,3.9,1.1,versicolor
70,M Hussain,5.9,3.2,4.8,1.8,versicolor
71,M Hassan,6.1,2.8,4.0,1.3,versicolor
72,Ali Akbar,6.3,2.5,4.9,1.5,versicolor
73,Ali Asghar,6.1,2.8,4.7,1.2,versicolor
74,Qasim Ali,6.4,2.9,4.3,1.3,versicolor
75,Hussain Ali,6.6,3.0,4.4,1.4,versicolor
76,Haider Ali,6.8,2.8,4.8,1.4,versicolor
77,Mujtaba Ali,6.7,3.0,5.0,1.7,versicolor
78,Ali Hassan,6.0,2.9,4.5,1.5,versicolor
80,M Hussain,5.5,2.4,3.8,1.1,versicolor
82,Ali Akbar,5.8,2.7,3.9,1.2,versicolor
83,Ali Asghar,6.0,2.7,5.1,1.6,versicolor
84,Qasim Ali,5.4,3.0,4.5,1.5,versicolor
85,Hussain Ali,6.0,3.4,4.5,1.6,versicolor
86,Haider Ali,6.7,3.1,4.7,1.5,versicolor
87,Mujtaba Ali,6.3,2.3,4.4,1.3,versicolor
88,Ali Hassan,5.6,3.0,4.1,1.3,versicolor
89,Ali Hassan,5.5,2.5,4.0,1.3,versicolor
90,Ali Abbas,5.5,2.6,4.4,1.2,versicolor
91,M Hussain,6.1,3.0,4.6,1.4,versicolor
92,M Hassan,5.8,2.6,4.0,1.2,versicolor
94,Ali Asghar,5.6,2.7,4.2,1.3,versicolor
95,Qasim Ali,5.7,3.0,4.2,1.2,versicolor
96,Hussain Ali,5.7,2.9,4.2,1.3,versicolor
97,Haider Ali,6.2,2.9,4.3,1.3,versicolor
98,Mujtaba Ali,5.1,2.5,3.0,1.1,versicolor
99,Ali Hassan,5.7,2.8,4.1,1.3,versicolor

In [17]:
df[['First Name','Last Name']] = df.Name.str.split(" ",expand = True)
df

,Name,sepal_length,sepal_width,petal_length,petal_width,species,First Name,Last Name
0,Ali Abbas,5.1,3.5,1.4,0.2,setosa,Ali,Abbas
1,M Hussain,4.9,3.0,1.4,0.2,setosa,M,Hussain
2,M Hassan,4.7,3.2,1.3,0.2,setosa,M,Hassan
3,Ali Akbar,4.6,3.1,1.5,0.2,setosa,Ali,Akbar
4,Ali Asghar,5.0,3.6,1.4,0.2,setosa,Ali,Asghar
...,...,...,...,...,...,...,...,...
145,Haider Ali,6.7,3.0,5.2,2.3,virginica,Haider,Ali
146,Mujtaba Ali,6.3,2.5,5.0,1.9,virginica,Mujtaba,Ali
147,Ali Hassan,6.5,3.0,5.2,2.0,virginica,Ali,Hassan
148,Mujtaba Ali,6.2,3.4,5.4,2.3,virginica,Mujtaba,Ali
149,Ali Hassan,5.9,3.0,5.1,1.8,virginica,Ali,Hassan

In [12]:
z = df['Last Name'] == 'Ali'
df[z]

,Name,sepal_length,sepal_width,petal_length,petal_width,species,First Name,Last Name
5,Qasim Ali,5.4,3.9,1.7,0.4,setosa,Qasim,Ali
6,Hussain Ali,4.6,3.4,1.4,0.3,setosa,Hussain,Ali
7,Haider Ali,5.0,3.4,1.5,0.2,setosa,Haider,Ali
8,Mujtaba Ali,4.4,2.9,1.4,0.2,setosa,Mujtaba,Ali
15,Qasim Ali,5.7,4.4,1.5,0.4,setosa,Qasim,Ali
...,...,...,...,...,...,...,...,...
143,Qasim Ali,6.8,3.2,5.9,2.3,virginica,Qasim,Ali
144,Hussain Ali,6.7,3.3,5.7,2.5,virginica,Hussain,Ali
145,Haider Ali,6.7,3.0,5.2,2.3,virginica,Haider,Ali
146,Mujtaba Ali,6.3,2.5,5.0,1.9,virginica,Mujtaba,Ali
148,Mujtaba Ali,6.2,3.4,5.4,2.3,virginica,Mujtaba,Ali

In [13]:
versicolor = (df["species"] == 'versicolor')
df[versicolor]

,Name,sepal_length,sepal_width,petal_length,petal_width,species,First Name,Last Name
50,M Hussain,7.0,3.2,4.7,1.4,versicolor,M,Hussain
51,M Hassan,6.4,3.2,4.5,1.5,versicolor,M,Hassan
52,Ali Akbar,6.9,3.1,4.9,1.5,versicolor,Ali,Akbar
53,Ali Asghar,5.5,2.3,4.0,1.3,versicolor,Ali,Asghar
54,Qasim Ali,6.5,2.8,4.6,1.5,versicolor,Qasim,Ali
55,Hussain Ali,5.7,2.8,4.5,1.3,versicolor,Hussain,Ali
56,Haider Ali,6.3,3.3,4.7,1.6,versicolor,Haider,Ali
57,Mujtaba Ali,4.9,2.4,3.3,1.0,versicolor,Mujtaba,Ali
58,Ali Hassan,6.6,2.9,4.6,1.3,versicolor,Ali,Hassan
59,Ali Abbas,5.2,2.7,3.9,1.4,versicolor,Ali,Abbas
60,M Hussain,5.0,2.0,3.5,1.0,versicolor,M,Hussain
61,M Hassan,5.9,3.0,4.2,1.5,versicolor,M,Hassan
62,Ali Akbar,6.0,2.2,4.0,1.0,versicolor,Ali,Akbar
63,Ali Asghar,6.1,2.9,4.7,1.4,versicolor,Ali,Asghar
64,Qasim Ali,5.6,2.9,3.6,1.3,versicolor,Qasim,Ali
65,Hussain Ali,6.7,3.1,4.4,1.4,versicolor,Hussain,Ali
66,Haider Ali,5.6,3.0,4.5,1.5,versicolor,Haider,Ali
67,Mujtaba Ali,5.8,2.7,4.1,1.0,versicolor,Mujtaba,Ali
68,Ali Hassan,6.2,2.2,4.5,1.5,versicolor,Ali,Hassan
69,Ali Abbas,5.6,2.5,3.9,1.1,versicolor,Ali,Abbas
70,M Hussain,5.9,3.2,4.8,1.8,versicolor,M,Hussain
71,M Hassan,6.1,2.8,4.0,1.3,versicolor,M,Hassan
72,Ali Akbar,6.3,2.5,4.9,1.5,versicolor,Ali,Akbar
73,Ali Asghar,6.1,2.8,4.7,1.2,versicolor,Ali,Asghar
74,Qasim Ali,6.4,2.9,4.3,1.3,versicolor,Qasim,Ali
75,Hussain Ali,6.6,3.0,4.4,1.4,versicolor,Hussain,Ali
76,Haider Ali,6.8,2.8,4.8,1.4,versicolor,Haider,Ali
77,Mujtaba Ali,6.7,3.0,5.0,1.7,versicolor,Mujtaba,Ali
78,Ali Hassan,6.0,2.9,4.5,1.5,versicolor,Ali,Hassan
79,Ali Abbas,5.7,2.6,3.5,1.0,versicolor,Ali,Abbas
80,M Hussain,5.5,2.4,3.8,1.1,versicolor,M,Hussain
81,M Hassan,5.5,2.4,3.7,1.0,versicolor,M,Hassan
82,Ali Akbar,5.8,2.7,3.9,1.2,versicolor,Ali,Akbar
83,Ali Asghar,6.0,2.7,5.1,1.6,versicolor,Ali,Asghar
84,Qasim Ali,5.4,3.0,4.5,1.5,versicolor,Qasim,Ali
85,Hussain Ali,6.0,3.4,4.5,1.6,versicolor,Hussain,Ali
86,Haider Ali,6.7,3.1,4.7,1.5,versicolor,Haider,Ali
87,Mujtaba Ali,6.3,2.3,4.4,1.3,versicolor,Mujtaba,Ali
88,Ali Hassan,5.6,3.0,4.1,1.3,versicolor,Ali,Hassan
89,Ali Hassan,5.5,2.5,4.0,1.3,versicolor,Ali,Hassan
90,Ali Abbas,5.5,2.6,4.4,1.2,versicolor,Ali,Abbas
91,M Hussain,6.1,3.0,4.6,1.4,versicolor,M,Hussain
92,M Hassan,5.8,2.6,4.0,1.2,versicolor,M,Hassan
93,Ali Akbar,5.0,2.3,3.3,1.0,versicolor,Ali,Akbar
94,Ali Asghar,5.6,2.7,4.2,1.3,versicolor,Ali,Asghar
95,Qasim Ali,5.7,3.0,4.2,1.2,versicolor,Qasim,Ali
96,Hussain Ali,5.7,2.9,4.2,1.3,versicolor,Hussain,Ali
97,Haider Ali,6.2,2.9,4.3,1.3,versicolor,Haider,Ali
98,Mujtaba Ali,5.1,2.5,3.0,1.1,versicolor,Mujtaba,Ali
99,Ali Hassan,5.7,2.8,4.1,1.3,versicolor,Ali,Hassan

In [ ]:
df.species.str.split("i").str[1]

In [18]:
df[['Fir','sec']] = df.species.str.split("i",expand = True)
df

ValueError: Columns must be same length as key

In [93]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [45]:
import numpy as np
import pandas as pd

In [35]:
x = pd.DataFrame({"col1":np.arange(1,20,2)},index=[9,8,7,6,0,1,2,3,4,5])
x

   col1
9     1
8     3
7     5
6     7
0     9
1    11
2    13
3    15
4    17
5    19

In [37]:
x.iloc[0:5]

   col1
9     1
8     3
7     5
6     7
0     9

In [38]:
x.loc[0:5]

   col1
0     9
1    11
2    13
3    15
4    17
5    19